// .row-height {
   
//   overflow: hidden;
//   position: absolute;
//   width: 100%;
//   height: 80%;
//   display: flex;
//   justify-content: center; /*centers items on the line (the x-axis by default)*/
//   align-items: center; /*centers items on the cross-axis (y by default)*/
// }
ion-content{

    --ion-background-color: #e5e5e5;
}
.middle{
    display: flex;
  align-items: center;
  justify-content: center;
}
mat-card{
    margin-top: 3rem;
    width: 80%;
}