<ion-header>
  <ion-toolbar color="primary">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div  class="middle">
  <mat-card >
      <mat-card-title>
        <ion-icon name="log-in" color="primary"></ion-icon>
      </mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="Username" [(ngModel)]="user.email" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Contraseña" [(ngModel)]="user.password" required>
        </mat-form-field>
      </mat-card-content>
    
      <button mat-raised-button (click)="login()" color="primary" >Entrar</button>
    </mat-card>
  </div>

</ion-content>
