<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Diot Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="activeAlarm('0')">
      <ion-icon name="notifications"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <mat-grid-list role="list" cols="2" rowHeight="2:1.5" gutterSize="1px">
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Modelo Diot {{diot.code}}</mat-card-title>
          <mat-card-subtitle> {{user.first_name}} Tu ambiente inteligente esta conectado</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
           
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows">
      <mat-card (click)="tile.click">
        <mat-card-header>
          <mat-card-title>
            <h2>
              <ion-icon [name]="tile.icon"></ion-icon> {{tile.data}}
            </h2>
          </mat-card-title>
          <mat-card-subtitle>{{tile.subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


  </mat-grid-list>


</ion-content>