.mat-card{
  width: 95%;
  height: 95%;
}
ion-content{

    --ion-background-color: #e5e5e5;
}
mat-grid-list{
  margin-left:0.2rem;
  margin-right: 0.2rem; 
}
h2{
  font-size: 1.7rem;  
}
// .fixeTitle{

// }